canvasApp/pkgs/Wadl/csvDL.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://japan-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="csvDL" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="csvDL" />
  <grammars>
    <jsonTypes targetNamespace="https://japan-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput__Ux30D5_Ux30A1_Ux30A4_Ux30EB_Ux306E_Ux4F5C_Ux6210___Ux30D5_Ux30A1_Ux30A4_Ux30EB_Ux540D__def" />
      <string name="ManualTriggerInput__Ux30D5_Ux30A1_Ux30A4_Ux30EB_Ux306E_Ux4F5C_Ux6210___Ux30D5_Ux30A1_Ux30A4_Ux30EB_Ux30B3_Ux30F3_Ux30C6_Ux30F3_Ux30C4__def" />
      <string name="ManualTriggerInput__Ux30D5_Ux30A1_Ux30A4_Ux30EB_Ux306E_Ux4F5C_Ux6210___Ux30B5_Ux30A4_Ux30C8_Ux306E_Ux30A2_Ux30C9_Ux30EC_Ux30B9__def" />
      <object name="ManualTriggerInput">
        <property name="ファイルの作成_ファイル名" type="string" />
        <property name="ファイルの作成_ファイルコンテンツ" type="string" />
        <property name="ファイルの作成_サイトのアドレス" type="string" />
      </object>
      <string name="ResponseActionOutput_path_def" />
      <object name="ResponseActionOutput">
        <property name="path" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://japan-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ファイルの作成_ファイル名" path="/ファイルの作成_ファイル名" type="xs:string" required="true" />
            <param style="plain" name="ファイルの作成_ファイルコンテンツ" path="/ファイルの作成_ファイルコンテンツ" type="xs:string" required="true" />
            <param style="plain" name="ファイルの作成_サイトのアドレス" path="/ファイルの作成_サイトのアドレス" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>